.nav-link:hover {
    color: F9F7F0;
    background-color: EF6D2F;
}
  
.grid-container {
    display: grid;

    /* For 2 columns */
    grid-template-columns: repeat(2, 1fr);
}

.navbar-customclass {
    background-color: white;;
}

.nav-item:hover {
    background-color: #44bba4;
}

.navbar-brand {
    background-color: #44bba4;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-brand:hover {
    background-color: #5E37EA;
}

@media (max-width: 800px) {
    .grid-container {
        display: grid;
    
        /* For 2 columns */
        grid-template-columns: repeat(4, 1fr);
    }

    .navbar-customclass {
        background-color: #44BBA4 ;
    }

}

img {
    width: 100%;
    height: auto;
    padding: 0px;
}


body {
    background-color: #d3dceb;
}

.container {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.row .col-md-8 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
}

h1 {
    color: #44BBA4;
    
}
h2 {
    color: #44BBA4;
}

h3 {
    color: #44BBA4;
    text-align: center;
}

th {
    text-align: left;
}

.wrapper {
    text-align: justify;
}

.wrapper .img-fluid {
    float:left;
    margin: 10px;
    width: 300px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.custom-active {
    border-style: solid;
    border-color: #44BBA4;
    border-width: 3px;
    box-shadow: 10px;
}