.navbar-toggler {
    color: black;
}

/* .row {
    padding: 30px;
    background-color: aquamarine;
} */

.container {
    background-color: burlywood;
    align-items: center;
}

.image_container {
    display: flex;
    padding: 4px 4px;
    flex-wrap: wrap;
}

.img_column {
    flex: 50%;
    max-width: 50%;
    padding: 4px 4px;
}

.img_column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}