.navbar-toggler {
    color: black;
}

/* .row {
    padding: 30px;
    background-color: aquamarine;
} */

.container {
    background-color: burlywood;
    align-items: center;
}

img {
    width: 50%;
    height: auto;
}